/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/

.home{
    .home-page{
        .content-area{
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            filter: blur(2px);
            -webkit-filter: blur(2px); 
        }
        
        .site-header{
          height: 85px;

            }

            nav{
                ul{
                    li{
                       
                        a:after {
                            background: $color__text-input-light;
                        }
                    }
                }
            }
        }
    }  
